<div class="app-card-container">
  <div class="card">
  <h1>Would you like to work together?</h1>
  
  <hr>
  
  <div class="row">
      <div class="cold-md-6">
        <h3>Address</h3>
        
        <p>931 S 1000 E, Clearfield, UT 84015</p>
        
        <h3>Phone</h3>
        
        <p><%= number_to_phone "8016674321" %></p>
        
        <h3>Email</h3>
        
        <p><a href="landon@landon.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>
      
      <div class="cold-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12026.233932171206!2d-112.00569
        47!3d41.1004925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2991047a1850ddb9!2sClearfield+High+School!5e0!3m2!1sen!2sus!4v1
        501381647618" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


