<h1>Would you like to work together?</h1>

<hr>

<div class="row">
    <div class="cold-md-6">
      <h3>Address</h3>
      
      <p>2676 N 1170 W, Clinton, UT 84015</p>
      
      <h3>Phone</h3>
      
      <p><%= number_to_phone "8016674321" %></p>
      
      <h3>Email</h3>
      
      <p><a href="landon@landon.com?subject=PortfolioContact" "email me">Email me</a></p>
    </div>
    
    <div class="cold-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.1774564172815!2d-112.0503386847
      3087!3d41.152478979286364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87531ab2d6309fab%3A0x547b
      43bd7f330c85!2s2676+N+1170+W%2C+Clinton%2C+UT+84015!5e0!3m2!1sen!2sus!4v1499881572933" width="450" height="450" 
      frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

